<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Quicksand:300,400,500,700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="../../javascripts/script.js"></script>
</head>
  <body>
        <div class="color-bar"></div>
        <nav>
            <ul class="nav">
                <li>
                    <div>
                        <a href="/lunch"><img src="images/cafe-madrid-logo.png" alt="Cafe Madrid Logo" id="logo"></a>
                    </div>
                </li>
                <li href="menus" class="nav-li">Menus / Online Ordering</li>
                    <ul class="menus" style="display: none">
                        <li> <a href="lunch.html">Lunch</a></li>
                        <li> <a href="dinner.html">Dinner</a></li>
                        <li> <a href="catering.html">Catering</a></li>
                    </ul>
                <li href="" class="nav-li">Events</li>
                    <ul class="events" style="display: none">
                        <li> <a href="#">Calendar</a></li>
                        <li> <a href="#">Private Events</a></li>
                        <li> <a href="#">Catering</a></li>
                    </ul>
                
                <li href="" class="nav-li">Make A Reservation</li>

                <li class = "login-out">
                    <% if(customer){ %>
                        <img id="profile-img" src="<%= customer.picture %>" alt="customer image">
                        <a href="/logout" id="customer-name"><%= customer.name %></a>
                    <% } else { %>
                        <a href="/auth/google">Log In</a>
                    <% } %>
                    <img src="../../images/triangle-arrow-burgundy.png" id="profile-arrow">
                </li>


                <img id="hamburger" src="../../images/hamburger-black.png" alt="Hamburger menu icon">
                <img id="exit" src="../../images/exit-icon.png" alt="Exit Mobile Menu">

            </ul>
        </nav>

        <div id="mobile-nav">
            <ul>
                <li>Menus</li>
                <li>Events</li>
                <li>Make a Reservation</li>
            </ul>
        </div>

        <script>
            var hamburger = document.getElementById("hamburger");
            var mobileNav = document.getElementById("mobile-nav");
            var exit = document.getElementById("exit");
        
            function openMobileNav(){
                mobileNav.style.display = 'block';
                exit.style.display = "block";
                hamburger.style.visibility = "hidden";
            }


            function closeMobileNav() {
                mobileNav.style.display = "none";
                exit.style.display = "none";
                hamburger.style.visibility = "visible";
            }

            hamburger.addEventListener('click', openMobileNav);
            exit.addEventListener('click', closeMobileNav);

        </script>