<div class="menu-nav">
			
    <ul>
        <div class="dropdown-line">
            <li class="menu-layer1">Lunch</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
                
            <ul class="dropdown-content">
                <li><a href="#tapas">Tapas</a></li>
                <li><a href="#soups">Soups</a></li>
                <li><a href="#salads">Salads</a></li>
                <li><a href="#specialties">Specialties</a></li>
                <li><a href="#sandwiches">Sandwiches</a></li>
                <hr>
                <li><a href="#pick-two-special">Pick Two Special</a></li>
                <hr>
                <li><a href="#drinks">Drinks</a></li>
                <li><a href="#coffee">Coffee, Wine & Liqueur</a></li>
                <li><a href="#desserts">Desserts</a></li>
            </ul>
        <div class="dropdown-line">
            <li class="menu-layer1">Dinner Menu</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
        <div class="dropdown-line">
            <li class="menu-layer1">Catering Menu</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
    </ul>
</div>