<div id="menu-nav">
			
    <ul>
        <div class="dropdown-line">
            <li class="menu-layer1" id="lunch">Lunch</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
        <div class="lunch dropdown">
            <ul>
                <li><a href="#tapas">Tapas</a></li>
                <li><a href="#soups">Soups</a></li>
                <li><a href="#salads">Salads</a></li>
                <li><a href="#specialties">Specialties</a></li>
                <li><a href="#sandwiches">Sandwiches</a></li>
                <hr>
                <li><a href="#pick-two-special">Pick Two Special</a></li>
                <hr>
                <li><a href="#drinks">Drinks</a></li>
                <li><a href="#coffee">Coffee, Wine & Liqueur</a></li>
                <li><a href="#desserts">Desserts</a></li>
            </ul>
        </div>
        <div class="dropdown-line">
            <li class="menu-layer1" id="dinner">Dinner Menu</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
        <ul class="dinner dropdown">
            <li><a href="#">Tapas</a></li>
            <li><a href="#">Soups</a></li>
            <li><a href="#">Salads</a></li>
            <li><a href="#">Paella</a></li>
            <li><a href="#">Entrees</a></li>
            <li><a href="#">Sides</a></li>
            <li><a href="#">Drinks</a></li>
            <li><a href="#">Coffee, Wine & Liqueur</a></li>
            <li><a href="#">Desserts</a></li>
            </ul>
        <div class="dropdown-line">
            <li class="menu-layer1" id="catering">Catering Menu</li>
            <img class="menu-arrow" src="images/triangle-arrow-burgundy.png" alt="drop down arrow">
        </div>
        <ul class="catering dropdown">
            <li><a href="#">Lunch Catering</a></li>
            <li><a href="#">Dinner Catering</a></li>
        </ul>
    </ul>
</div>
<a href="/add-menu-item" id="add-menu-item">Add Menu Item</a>
