<div class="menu-cart">
        <div class="take-out">
            <h2>Take Out</h2>
            <div class="take-out-check">

                <a href="orders/34">Update Cart</a>
                <% if (userDishes) { %>
                    <%= userDishes %>
                    <% } %>

                <div class="">
                    
                    <table id="take-out-list">
                        <tbody>
                            <tr>
                                <td colspan="1" class="amount">1</td>
                                <td colspan="3" class="dish">Chicken Soup</td>
                                <td colspan="2" class="price"></td>
                            </tr>
                        
                            <tr>
                                <td colspan="1" class="amount">1</td>
                                <td colspan="3" class="dish">Breakfast Riser Sandwich</td>
                                <td colspan="2" class="price"></td>
                            </tr>
                            
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="2" id="subtotal"><span class="grey">subtotal:</span>  $12</td>
                            </tr>
                        
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="2" id="tax"><span class="grey">Tax(8.35%): </span> $1</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="2" id="total"><span class="grey">Total:</span>  $13</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit">Order Now</button>
            </div>
        </div>
    </div>