<%- include('../partials/header') %>

<div class="menu-page">
    <div class="menu-nav-box">
        <%- include('../partials/menuNav') %>
    </div>


    <div class="menu-display">
        <header>
            <h1><%= pageH1 %></h1>
            <p class="small-text"> Monday - Friday / 11am - 3pm</p>
            <p class="available">available now</p>
            <img src= "images/lasagna.jpg">
        </header>
        

        <div class="menu-section" id="pick-two-special">
            <h2>Pick Two Special</h2>
            <p>Pick and two of the listed items - $12</p>
            <p>Cup of Soup</p>
            <p>Gaudi Side Salad</p>
            <p>Sandwich on Bacci Roll or Half Ciabatta Roll</p>
            <p>Full Sandwich available for $15</p>
        </div>

        <div class="menu-section" id="soups">
            <h2>Sopas : Soups</h2>
            <div class="menu-item">
                <h3> dishName  </h3>
                <p> dishDescription </p>
                <p class="price"> dishPrice </p>
                <p class="price"> dishPrice </p>
                <p class="price"> dishPrice </p>
                <div class="add-on">
                    <p class="description">Extra Warm Bacci Roll with Butter</p>
                    <p class="price">+$0.75</p>
                </div>
            </div>
        </div>
        
        <img src="images/soup-and-salad.jpg" class="banner" alt="Cafe Madrid Soup & Salad">
        <div class="menu-section" id="salads">
            
            <h2>Ensalades : Salads</h2>
            <div class="menu-item">
                <h3>Mixta Salad</h3>
                <p>Organic Mixed Greens garnished with Piquillo Peppers, Red Onions, Tomatoes, Green Olives, Grilled Asparagus, Extra Virgin Olive Oil and Balsamic Vinegar.</p>
                <p class="price">$11</p>
                <div class="portion">
                    <p class="price">Half Order: $10.50</p>
                    <p class="price">Full Order: $12.50</p>
                </div>
                <div class="add-on">
                    <p class="description">+ Grilled Chicken</p>
                    <p class="price">+$4</p>
                    <p class="description">+ Grilled Shrimp</p>
                    <p class="price">+$5</p>
                    <p class="description">+ Grilled Salmon</p>
                    <p class="price">+$6</p>
                </div>
            </div>
            
            <div class="menu-item">
                <h3>Mediterranean Salad</h3>
                <p>Organic Mixed Greens, Strawberries, Apples, Mandarin Oranges, Raisins, Walnuts, Breaded Fried Brie, and Raspberry Vinaigrette.</p>
                <p class="price">$11</p>
                <div class="portion">
                    <p class="price">Half Order: $11.50</p>
                    <p class="price">Full Order: $13.50</p>
                </div>
            </div>
        </div>
        
        <div class="menu-section" id="sandwiches">
            <h2>Sandwiches</h2>
            <div class="menu-item">
                <h3>Beef Tenderloin Sandwich</h3>
                <p>Beef Tenderloin with our famous Creamy Roquefort Cheese Sauce, Caramelized Onions, Balsamic Vinaigrette Reduction, Lettuce and Strawberry Fig Jam.</p>
                <div class="portion">
                    <p class="price">Bacci Roll: $10</p>
                    <p class="price">Ciabatta: $13.50</p>
                </div>
            </div>
            
            <div class="menu-item">
                <h3>Mediterranean Sandwich</h3>
                <p>Marinated Chicken Breast with melted Swiss, Pesto spread, Mustard Dressing and Baby Greens.</p>
                <div class="portion">
                    <p class="price">Bacci Roll: $8</p>
                    <p class="price">Ciabatta: $12</p>
                </div>
            </div>
        </div>
        
        
        
        
        
        <span class="small-text">
            <h6>Consumer Advisory</h6>
            <p>* Thoroughly cooking foods of animal origin such as beef, eggs, fish, lamb, pork, poultry, or shellfish reduces the risk of foodborne illness. Consult your physician or Public Health official for further information.</p>
        </span>
    
        <div class="suggestion-boxes">
            <div class="suggestion-1">
                <img src="images/sangria.jpg" alt="Sangria from Cafe Madrid">
            </div>
            <div class="suggestion-2"></div>
            <div class="suggestion-3"></div>
        </div>
    </div>


    <div class="menu-cart">
        <div class="take-out">
            <h2>Take Out</h2>
            <div class="take-out-check">
                <div class="">
                    
                    <table id="take-out-list">
                        <thead>My order</thead>
                        <tbody>
                            <tr>
                                <th colspan="2">Item</th>
                                <th colspan="1">Amount</th>
                                <th colspan="1">Price</th>
                            </tr>
                            
                            <tr>
                                <td colspan="2">Item Eg.</td>
                                <td colspan="1">Amount Eg.</td>
                                <td colspan="1">$ Eg.</td>
                            </tr>
                            
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1">Totaled Price</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit">Order Now</button>
            </div>
            <p>Inquire About Catering</p>
        </div>
    </div>

</div>




<%- include('../partials/footer') %>