:root {
	--burgundy: #7f170e;
	--secondary: hsla(31, 64%, 90%, 1);
	--secondary3: #fce1c4;
	--secondary2: rgb(252, 243, 233);
	--pink: hsla(0, 64%, 82%, 0.21);
	--green: #8da54a;
	--lightgreen: #c1e65d;
	--orange: #e1772e;
	--offwhite:
}

html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-family: 'Great Vibes', cursive;
	letter-spacing: 5;
	font-size: 38px;
	text-align: center;
	padding-top: 10px;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 5;
}

p {
	font-family: 'Quicksand', sans-serif;
}

a {
	color: black;
}

a:hover {
	color: var(--orange);
	text-decoration: none;
}


li {
	font-family: 'Quicksand', sans-serif;
	list-style: none;
}

button {
	border: 1px solid var(--burgundy);
	color: inherit;
	background-color: transparent;
	font-family: inherit;
	font-size: 1em;
	padding: 10px 15px;
	margin: 10px auto !important;
	border-radius: 3px;
	display: block;
	text-align: center;
	cursor: pointer;
	width: 200px;
}

button:active {
	transform: translateY(1px);
	filter: saturate(150%);
}

button:hover {
	color: var(--burgundy);
	border: 1px solid var(--orange);
}

button:focus {
	color: var(--secondary);
	background-color: var(--burgundy);

}



hr {
	border-color: var(--lightgreen);
	/* border: 2px solid var(--lightgreen); */
}





.small-text {
	text-align: center;
	margin: 5px;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}








.color-bar {
	height: 30px;
	width: 100%;
	background-color: var(--burgundy);
	position: fixed;
	top: 0;
	z-index: 10;
}

.nav {
	display: flex;
	background-color: transparent;
	position: fixed;
	top: 30px;
	margin: 0;
	width: 100%;
	z-index: 10;
	justify-content: space-between;
}

.nav-li {
	display: none;
}

.nav li {
	padding: 15px 30px 0 30px;
	list-style: none;
}

#customer-name {
	color: var(--burgundy);
}

#profile-img {
	width: 30px;
	border-radius: 15px;
}

#profile-arrow {
	width: 15px;
	height: 8px;
	position: relative;
	top: 1px;
	padding-left: 5px;
	transform: rotate(-90deg);
}


#logo {
	width: 175px;
	padding: 5px;
}

#hamburger {
	height: 20px;
	margin: 15px;
	display: none;
}

#exit {
	height: 20px;
	margin: 15px;
	display: none;
}

@media screen and (max-width: 950px) {
	.nav li:not(:first-child) {
		display: none;
	}
	#hamburger {
		display: block;

	}
}


#mobile-nav {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: white;
	margin-top: 100px;
}

#mobile-nav ul {
	list-style: none;
	margin: 10px auto;
	text-align: center;
	padding-top: 20px;
}

#mobile-nav li{
	padding: 8px 0;
	font-size: 20px;
}









header {
	padding: 0 0 10px 0;
}

header h1 {
	margin: 5px
}

header img {
	width: 100%;
}

.available {
	color: #159f5f;
	text-align: center;
	margin: 5px;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	margin-top: 10px;
}







.menu-page {
  	display: grid;
	grid-template-columns: 3fr 15fr 3fr;
	grid-gap: 20px;
	position: relative;
	top: 90px;
}

.menu-nav-box {
	grid-column: 1;
	background-color: var(--secondary);
	padding: 20px;
	position: relative;
	min-width: 250px;
	}

	/* @media screen and (max-width: 900px) {
		.menu-nav {
			display: none;
			grid-column: 3 / span 2;
		}
	} */
	
	
#menu-nav {
	position: fixed;
}

@media screen and (max-width: 750px) {
	.menu-nav-box {
		display: none;
	}
}

.dropdown-line {
	display: flex;
}

.menu-arrow {
	width: 15px;
	height: 8px;
	position: relative;
	top: 23px;
	padding-left: 5px;
	transform: rotate(-90deg);
}

.dropped-arrow {
	transform: rotate(362deg);
	top: 21px;
	/* -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg); */
}

.menu-layer1 {
	font-weight: 500;
	margin: 10px 0 10px 0;
	font-size: 18px;
	cursor: pointer;
}

.menu-layer1:hover, .dropbtn:focus {
	color: var(--orange);
}


.dropdown {
	display: none;
	z-index: 1;
	overflow: auto;
	padding: 0;
}

.dropdown a{
	color: black;
	text-decoration: none;
}

.dropdown a:hover {
	color: var(--orange);
}	

#menu-nav ul{
	padding-left: 0px;
}

.dropdown ul {
	padding-left: 15px !important;
}

	
.show {
	display: block;
}

	






/*//////////  H O M E   P A G E  //////////////*/

.menu-display {
	grid-column: 2;
}

	@media screen and (max-width: 500px) {
		.menu-display {
			grid-column: 1 / 4;
			padding: 20px;
		}
	}
	
	
#pick-two-special {
	border: 3px solid var(--secondary); 
	padding: 15px;
}

#pick-two {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

#pick-two-price {
	text-align: center;
}



.banner {
	grid-column: 2 / span 4;
	width: 100%;
}



.menu-section:not(:first-of-type) {
	padding-top: 100px;
}


.menu-item {
	background-color: var(--secondary2);
	padding: 20px;
	margin: 20px 0 10px 0;
	position: relative;
	border: 1px var(--secondary) solid;
}

.description {
	width: 30vw;
}

@media screen and (max-width: 750px) {
	.description {
		width: 75vw;
	}
}


.add {
	width: 20px;
	
}

.add:hover {
	background-image: url(../images/plus-green.png);
}

.add-button {
	margin: 0;
	position: absolute;
	top: 25px;
	right: 25px;
	width: 25px;
	padding: 0;
	border: 0;
}

.add-button:hover {
	border: 0;
}

.menu-item form {
	display: inline;
}

.dish-select {
	padding: 5px;
	width: initial;
	display: inline-block;
	font-size: 12px;
}


.suggestion-1 img {
	width: 100%;
}







.menu-cart {
	grid-column: 3;
	background-color: var(--secondary);
	font-family: 'Quicksand', sans-serif;
	min-width: 250px;
}

@media screen and (max-width: 900px) {
		.menu-cart {
			display: none;
			grid-column: 3 / span 2;
		}
	}
  
.take-out{
  position: fixed;
}  

.take-out-check {
	min-height: 500px; 
	margin: 0 auto;
}



tbody {
	width: 100%;
}

 th, td {
	border-collapse: collapse;
}

.anchor-button {
	border: 1px solid var(--burgundy);
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	display: block;
	margin: 10px 20px;
}

.whole-line {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}



.line-item {
	padding: 0 0 0 20px;
}

.delete {
	border: none;
	background-color: transparent;
}

.amount {
	width: 10%;
	padding: 5px;
}

.dish {
	width: 80%;
}

.price {
	width: 10%;
}

#subtotal, #total, #tax {
	text-align: right;
	padding-right: 5px;
}

#order-now {
	justify-content: flex-end;
}



.grey {
	color: gray;
}






/*///////  P I C K   T W O   P A G E   //////*/

#pick-two-header {
	position: relative;
	top: 110px;
}

.pick-two-h1 {
	font-size: 40px;
}

.pick-two-h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;	
}

.pick-two-display {
	display: grid;
	position: relative;
	top: 90px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	width: 100vw;
	padding: 20px
}

#soups-and-salads {
	grid-column: 1;
}

/* .salad-section {
	grid-column: 2;
} */

.sandwich-section {
	grid-column: 2;
	grid-row-start: 1;
}